@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Ubuntu';
	src: url('./assets/fonts/Ubuntu-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('./assets/fonts/Ubuntu-Medium.ttf');
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('./assets/fonts/Ubuntu-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

input:focus,
button:focus {
	outline: none;
}

body {
	font-family: 'Ubuntu';
}

.skeleton {
	animation: skeleton 4s ease infinite alternate;
}

@keyframes skeleton {
	10% {
		opacity: 0.6;
	}

	20% {
		opacity: 0.8;
	}

	30% {
		opacity: 1;
	}
	40% {
		opacity: 0.6;
	}
	50% {
		opacity: 0.8;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.6;
	}
	80% {
		opacity: 8;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
